@use '../abstracts/variables'

.footer
	background-color: variables.$color-white

.footer__container 
	padding: 50px 0 80px
	display: flex
	flex-direction: column
	border-top: 1px solid #DDD 

.footer__social
	display: flex
	align-items: center
	justify-content: space-between
	column-gap: 40px
	a
		width: 100%
		max-width: 290px
		height: 40px
		border: 1px solid variables.$color-primary
		color: variables.$color-primary
		font-size: 0.875rem
		line-height: 0.875rem
		font-weight: 500
		border-radius: 5px
		display: flex
		justify-content: center
		align-items: center
		text-transform: uppercase
		transition: transform .2s ease
		&:hover
			transform: translateY(-2px)

.footer__info
	padding-top: 50px
	display: flex
	align-items: center
	justify-content: space-between

.footer__description
	display: flex
	flex-direction: column
	row-gap: 10px
	p
		font-size: 0.9375rem
		line-height: 0.9375rem
		color: variables.$color-black

@media (max-width: variables.$breakpoint-md)
	.footer__container
		padding: 40px 0 55px

	.footer__social
		align-items: stretch
		flex-direction: column
		gap: 12px
		a
			max-width: none

	.footer__info
		align-items: flex-start
		flex-direction: column
		gap: 30px
