@use '../abstracts/variables'

.footer
	background-color: variables.$color-white

.footer__container 
	padding: 50px 0 80px
	display: flex
	flex-direction: column
	border-top: 1px solid #DDD 

.footer__social
	display: flex
	align-items: center
	justify-content: space-between
	column-gap: 25px
	a
		width: 100%

.footer__info
	padding-top: 50px
	display: flex
	align-items: center
	justify-content: space-between

.footer__description
	display: flex
	flex-direction: column
	row-gap: 5px
	p
		font-size: variables.$font-size-md
		line-height: variables.$font-height-md
		color: variables.$color-black

@media (max-width: variables.$breakpoint-md)
	.footer__container
		padding: 40px 0 55px

	.footer__social
		align-items: stretch
		flex-direction: column
		gap: 12px
		a
			max-width: none

	.footer__info
		align-items: flex-start
		flex-direction: column
		gap: 30px
