@use '../abstracts/variables'

.header
	background-color: variables.$color-white

.header__container
	display: flex
	align-items: center
	justify-content: space-between
	padding: 50px 0

.header__menu 
	ul
		display: flex
		column-gap: 25px
	a
		font-size: 0.925rem
		line-height: 0.925rem
		font-weight: variables.$font-weight-bd
		text-transform: uppercase
		color: variables.$color-black
		position: relative
		letter-spacing: 0.4px
		&::after
			content: ''
			position: absolute
			left: 0
			bottom: -4px
			width: 0
			height: 2px
			background-color: variables.$color-black
			transition: width .3s ease
		&:hover::after
			width: 100%
		&.is-active
			color: variables.$color-primary
			&::after
				background-color: variables.$color-primary

@media (max-width: variables.$breakpoint-md)
	.header__container
		align-items: flex-start
		padding: 25px 0
		gap: 25px
		flex-direction: column

	.header__menu
		display: flex
		ul
			flex-direction: column
			row-gap: 5px
