@use 'variables'

.footer
	height: 160px
	background-color: variables.$color-white

.footer__container
	display: flex
	align-items: center
	justify-content: space-between
	height: 100%
	border-top: 1px solid #DDD

.footer__description
	display: flex
	flex-direction: column
	row-gap: 10px
	p
		font-size: 0.9375rem
		line-height: 0.9375rem
		color: variables.$color-black