@use 'variables'

.header
	height: 160px
	background-color: variables.$color-white

.header__container
	display: flex
	align-items: center
	justify-content: space-between 
	height: 100%

.header__description
	display: flex
	flex-direction: column
	row-gap: 10px
	p
		font-size: 0.9375rem
		line-height: 0.9375rem
		color: variables.$color-black
