@use 'variables'

.overview
	background-color: variables.$color-primary
	height: 220px
	color: variables.$color-secondary
	h1
		color: variables.$color-secondary
		font-weight: 300
		font-size: 1rem
		line-height: 1.625rem
		text-align: justify
		display: inline
	p
		color: variables.$color-secondary
		font-weight: 300
		font-size: 1rem
		line-height: 1.625rem
		text-align: justify
		display: inline

.overview__container
	height: 100%
	display: flex
	align-items: center

