@use 'variables'

.overview
	background-color: variables.$color-primary
	color: variables.$color-secondary
	padding: 45px 0

.overview__texts
	text-align: justify
	h1
		color: variables.$color-secondary
		font-weight: 300
		font-size: 1rem
		line-height: 1.625rem
		display: inline
		font-weight: 400
	p
		color: variables.$color-secondary
		font-weight: 300
		font-size: 1rem
		line-height: 1.625rem
		display: inline

.overview__container
	height: 100%
	display: flex
	align-items: center

