@use '../abstracts/variables'

.article
	padding: 50px 0

.article__header
	padding-bottom: 30px
	border-bottom: 1px solid #DDD
	display: flex
	flex-direction: column
	row-gap: 6px
	h1
		color: variables.$color-black
		font-size: 1.1rem
		line-height: 1.625rem
		font-weight: 700

.article__meta
	display: flex
	flex-wrap: wrap
	align-items: center
	gap: 8px
	color: variables.$color-black
	font-size: variables.$font-size-md
	line-height: variables.$font-height-md
	span
		display: flex
		align-items: center
		gap: 8px
		&::before
			content: '·'

.article__content
	max-width: 930px
	padding: 30px 0 0
	display: flex
	flex-direction: column
	row-gap: 24px
	p
		color: variables.$color-black
		font-size: variables.$font-size-md
		line-height: variables.$font-height-md
		text-align: justify
	a
		color: variables.$color-primary
		border-bottom: 1px solid variables.$color-primary

.article__back
	color: variables.$color-black
	font-size: variables.$font-size-md
	line-height: 1rem
	display: flex
	width: fit-content
	padding-bottom: 2px
	transition: all .2s ease
	border-bottom: 1px solid variables.$color-black
	margin-top: 20px

@media (max-width: variables.$breakpoint-md)
	.article
		padding: 45px 0

	.article__header
		padding-bottom: 20px

	.article__content
		padding: 20px 0 38px
		p
			font-size: variables.$font-size-md
			line-height: variables.$font-height-md
