@use '../abstracts/variables'

.jobs
	padding: 50px 0

.jobs__item
	display: flex
	flex-direction: column
	row-gap: 10px
	padding: 40px 0
	border-top: 1px solid #DDD 
	&:first-child
		padding-top: 0
		border-top: none
	span
		color: variables.$color-gray
		font-size: .875rem
		line-height: .875rem
		font-weight: 600
		text-transform: uppercase
	h2
		color: variables.$color-black
		font-size: 1.6rem
		line-height: 2rem
	h3
		color: variables.$color-primary
		font-size: 1rem
		line-height: 1rem
	p
		font-size: 1rem
		line-height: 1.625rem
		color: variables.$color-black
		text-align: justify
