@use '../base/variables'

.overview
	background-color: variables.$color-primary
	color: variables.$color-secondary
	padding: 45px 0

.overview__texts
	text-align: justify
	p
		color: variables.$color-secondary
		font-size: variables.$font-size-md
		line-height: variables.$font-height-md

.overview__container
	height: 100%
	display: flex
	align-items: center
