@use '../abstracts/variables'

.resume
	padding: 50px 0

.resume__item
	display: flex
	flex-direction: column
	row-gap: 7px
	padding: 40px 0
	border-top: 1px solid #DDD
	&:first-child
		padding-top: 0
		border-top: none
	&:last-child
		padding-bottom: 0
	h2
		color: variables.$color-black
		font-size: 1.6rem
		line-height: 2rem
	h3
		color: variables.$color-primary
		font-size: variables.$font-size-md
		line-height: variables.$font-height-md
	p
		font-size: variables.$font-size-md
		line-height: variables.$font-height-md
		color: variables.$color-black
		text-align: justify
