@use './abstracts/variables'
@use './base/reset'

@use './layout/header'
@use './layout/footer'

@use './pages/overview'
@use './pages/portfolio'
@use './pages/resume'
@use './pages/writing'
@use './pages/article'

html
	font-size: 16px

body
	font-family: variables.$font-primary
	background-color: variables.$color-white
	color: variables.$color-black

.container
	width: 1280px
	margin: 0 auto
	@media (max-width: variables.$breakpoint-xl)
		width: 85%

.sr-only
	position: absolute
	width: 1px
	height: 1px
	padding: 0
	margin: -1px
	overflow: hidden
	clip: rect(0, 0, 0, 0)
	white-space: nowrap
	border: 0

.logo
	display: flex
	column-gap: 10px
	align-items: center
	img
		width: 58px

.logo__texts
	display: flex
	flex-direction: column
	row-gap: 3px

.logo__name
	font-size: 1rem
	line-height: 1rem
	text-transform: uppercase
	color: variables.$color-primary
	font-weight: 700

.logo__role
	font-size: 0.875rem
	line-height: 0.875rem
	text-transform: uppercase
	font-weight: 700
	color: variables.$color-black

@media (max-width: variables.$breakpoint-md)
	.container
		width: 90%

	.logo img
		width: 48px
