// colors
$color-primary: #ff006e
$color-secondary: #afff00
$color-white: #ffffff
$color-black: #374957
$color-gray: #929292

// typography
$font-primary: "Segoe UI", SegoeUI, system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif
$font-size-md: 0.995rem
$font-height-md: 1.645rem

// weights
$font-weight-lt: 300 //light
$font-weight-sl: 350 //semilight
$font-weight-rg: 400 //regular
$font-weight-sm: 600 //semibold
$font-weight-bd: 700 //bold
$font-weight-bk: 900 //black

// breakpoints
$breakpoint-md: 768px
$breakpoint-lg: 1024px
$breakpoint-xl: 1320px
