// colors
$color-white: #ffffff
$color-black: #374957

$color-primary-regular: #0969DA
$color-primary-hover: #cae2fd

$color-danger-regular: #d02b20
$color-danger-hover: #ffd6d2

$color-gray-first: #e3e5ef

// typography
$font-primary: "Segoe UI", SegoeUI, system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif
$font-size-md: 0.965rem
$font-height-md: 1.645rem

// weights
$font-weight-lt: 300
$font-weight-sl: 350
$font-weight-rg: 400
$font-weight-sm: 600
$font-weight-bd: 700
$font-weight-bk: 900
