@use '../base/variables'

.home
	height: calc(100vh - 158px)
	background-color: variables.$color-primary
	overflow: hidden
	position: relative

.home__container
	height: 100%
	display: flex
	flex-direction: column
	justify-content: center

.home__content
	display: flex
	flex-direction: column
	justify-content: center
	align-items: flex-start
	row-gap: 25px
	max-width: 450px
	h1
		color: variables.$color-secondary
		font-size: 2.75rem
		line-height: 3.15rem
		font-weight: variables.$font-weight-bd
		text-transform: uppercase
	p
		color: variables.$color-white
		font-size: 1rem
		line-height: 1.45rem
		text-align: justify

.home__button
	height: 75px
	border: none
	font-size: 1.15rem
	line-height: 1.15rem
	border-radius: 5px
	display: flex
	justify-content: center
	align-items: center
	text-transform: uppercase
	transition: transform 0.2s ease
	font-weight: variables.$font-weight-bd
	letter-spacing: .2px
	background-color: variables.$color-secondary
	color: variables.$color-primary
	width: 100%
	&:hover
		transform: translateY(-2px)

.home__cover
	position: absolute
	left: 50%
	top: 0
	img
		max-width: none
		width: 1120px
		opacity: 70%

@media (max-width: variables.$breakpoint-md)
	.home
		height: auto

	.home__container
		min-height: inherit
		justify-content: center
		padding: 125px 0

	.home__content
		max-width: none
		width: 100%
		h1
			font-size: 2rem
			line-height: 2.45rem
		p
			font-size: variables.$font-size-md
			line-height: variables.$font-height-md

	.home__button
		height: 60px
		font-size: 1rem
		line-height: 1rem

@media (max-width: variables.$breakpoint-lg)	
	.home__cover
		display: none
