@use '../abstracts/variables'

html
	font-size: 16px

body
	font-family: variables.$font-primary
	background-color: variables.$color-white
	color: variables.$color-black

.container
	width: 1280px
	margin: 0 auto
	@media (max-width: variables.$breakpoint-xl)
		width: 85%

.sr-only
	position: absolute
	width: 1px
	height: 1px
	padding: 0
	margin: -1px
	overflow: hidden
	clip: rect(0, 0, 0, 0)
	white-space: nowrap
	border: 0

.logo
	display: flex
	column-gap: 10px
	align-items: center
	img
		width: 58px

.logo__texts
	display: flex
	flex-direction: column
	row-gap: 5px

.logo__name
	font-size: 1rem
	line-height: 1rem
	text-transform: uppercase
	color: variables.$color-primary
	font-weight: variables.$font-weight-bd

.logo__role
	font-size: 0.875rem
	line-height: 0.875rem
	text-transform: uppercase
	font-weight: variables.$font-weight-bd
	color: variables.$color-black

.button
	height: 40px
	border: 1px solid transparent
	font-size: 0.875rem
	line-height: 0.875rem
	border-radius: 5px
	display: flex
	justify-content: center
	align-items: center
	text-transform: uppercase
	transition: transform 0.2s ease
	font-weight: variables.$font-weight-bd
	letter-spacing: .2px
	&:hover
		transform: translateY(-2px)
	&.button--primary
		color: variables.$color-primary
		border-color: variables.$color-primary
	&.button--secondary
		color: variables.$color-black
		border-color: variables.$color-black

@media (max-width: variables.$breakpoint-md)
	.container
		width: 90%

	.logo img
		width: 48px
